@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Oxygen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@layer components {
  * {
    @apply relative box-border overflow-hidden border-white/10;
  }

  body {
    @apply bg-black text-white text-lg;
  }

  h1 {
    @apply text-8xl font-bold;
  }

  h2 {
    @apply text-6xl font-bold;
  }

  h3 {
    @apply text-3xl font-bold;
  }

  mark {
    @apply bg-transparent font-bold;
  }

  .flex-center {
    @apply flex justify-center justify-items-center items-center;
  }

  .section {
    @apply flex-center flex-col h-fit w-full max-w-4xl my-20 p-0;
  }

  .btn-text {
    @apply transition-all opacity-50 hover:opacity-100;
  }

  .btn {
    @apply hover:bg-opacity-80 transition-all rounded-xl bg-white text-black flex-center py-2 px-5;
  }
}
